[submodule "submodules/UART"]
	path = submodules/UART
	url = git@github.com:IObundle/iob-uart.git
[submodule "submodules/CPU"]
	path = submodules/CPU
	url = git@github.com:IObundle/iob-picorv32.git
[submodule "iob-cache"]
	path = iob-cache
	url = git@github.com:IObundle/iob-cache.git
